.DS_Store
/outline.numbers
/book.zip
/book-master
/(Leonardo Books) Matthew Fuller - Software Studies_ A Lexicon-MiT Press (2008).pdf
/Olga Goriunova - Fun and Software_ Exploring Pleasure, Paradox and Pain in Computing-Bloomsbury Academic (2014).pdf
/Engin Arslan - Learn JavaScript with p5.js. Coding for Visual Learners-Apress (2018).pdf
